<form action='/robots' method='POST'>
  <p>
    Create New Robot:
  </p>
  <input type="text" name='name' placeholder="Name"/><br/>
  <input type="text" name='city'placeholder="City"/><br/>
  <input type="text" name='state' placeholder="State"/><br/>
  <input type="text" name='department'placeholder="Department"/><br/>
  <input type='submit' />
</form>